h1{
    text-align: center;
}
.delete-button{
    background-color: red;
}
.add-button{
    background-color: green;
}

.move-button{
    background-color: #00A6ED;
}
.delete-button,.move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
li {
    background-color: lightgoldenrodyellow;
    color: black;
    border-radius: 6px;
    padding: 3px;
    font-weight: bold;
    list-style: none;
    font-size: 16pt;
    display: flex;
    align-items: center;
    margin-top: 2px;
}
.text{
    flex: 1;
}
input[type="text"] {
    font-size: 18pt;
}
